@model BeEntity.BeNovedadIncautacion


@{
    ViewBag.Title = "Registro Novedad Incautación";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<div class="panel panel-body" id="container" style="width:unset">
    <div class="panel-heading" style="text-align:center">
        <br />
        <h4 class="fa fa-pen-alt"><strong> Registro de Incautaciones </strong></h4>
    </div>
    <hr />
    <div class="container body-content">
        <div style="float:right">
            <span><strong>Nota:</strong> Todos los campos son (<label class="bg-label">*</label>)  son obligatorios</span>
        </div>
        <br />

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                <div class="col-md-10" style="visibility:hidden">
                    @Html.DropDownList("TipoNovedadID", null, null, new { @class = "form-control", name = "TipoNovedadID", id = "TipoNovedadID" })
                    @Html.ValidationMessageFor(model => model.TipoNovedadID, "", new { @class = "text-danger" })
                </div>
                <label>Tipo Incautación</label><label class="bg-label">*</label>
                <div class="col-md-10">
                    @Html.DropDownList("TipoIncautacionID", null, "---Seleccione Tipo Incautación ---", htmlAttributes: new { @class = "form-control", name = "TipoIncaucaionID", id = "ddlIncautaciones", onchange = "myFunction1()" })
                    @Html.ValidationMessageFor(model => model.TipoIncautacionID, "", new { @class = "text-danger" })

                </div>
            </div>



            @*onchange = "myFunction()"*@
            @*, onchange = "fillProducts(this)"*@

            @*Modal Tipo Medidas*@
            <div class="modal fade" id="TipoProducto" role="dialog">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header" style="align-content:center">
                            <h4 id="ModalTitle"></h4>
                            <button type="button" class="close" data-dismiss="modal">
                                &times;
                            </button>
                            @*<a href="#" class="close" data-dismiss="modal">&time</a>*@
                        </div>

                        <div class="modal-body">
                            <form id="form" method="post">
                                <fieldset id="SubmitForm">


                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group">
                                        <label>Producto a Incautar</label><label class="bg-label">*</label>
                                        <div class="col-md-10">
                                            @Html.ValidationMessageFor(model => model.ProductoID, "", new { @class = "text-danger" })
                                            @Html.DropDownList("ProductoID", new List<SelectListItem>(), " -- Seleccionar Tipo --", new { @class = "form-control", id = "ProductoID", value = "ProductoID", name = "ProductoID" })
                                        </div>
                                    </div>

                                </fieldset>


                                <fieldset id="SubmitForm">

                                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                    <div class="form-group" id="_visible">
                                        <label>Tipo Medida/Presentación</label><label class="bg-label">*</label>
                                        <div class="col-md-10">
                                            @Html.ValidationMessageFor(model => model.TipoMedidaID, "", new { @class = "text-danger" })
                                            @Html.DropDownList("TipoMedidaID", new List<SelectListItem>(), " -- Seleccionar Tipo --", new { @class = "form-control", @id = "TipoMedidaID", @Name = "TipoMedidaID" })
                                        </div>
                                    </div>
                                </fieldset>

                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                </div>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
            @*Fin Modal Tipo Medidas**@

            <div class="form-group">
                                    <label>Cantidad</label><label class="bg-label">*</label>
                                    <div class="col-md-10">
                                    @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = " ", @type = "number" }, placeholder = "Ingresar Cantidad" })<br />
                                    @Html.ValidationMessageFor(model => model.Cantidad, " ", new { @class = "text-danger" })
                                        
                                    </div>
            </div>

            <div class="form-group">
                <label>Fecha Novedad</label><label class="bg-label">*</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaNovedad, new { htmlAttributes = new { @class = " ", @type = "date" } })<br />
                    @Html.ValidationMessageFor(model => model.FechaNovedad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Hora Novedad</label><label class="bg-label">*</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HoraNovedad, new { htmlAttributes = new { @class = " ", @type = "time" } })<br />
                    @Html.ValidationMessageFor(model => model.HoraNovedad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Provincia donde ocurrió la Novedad</label><label class="bg-label">*</label>
                <div class="col-md-10">
                    @Html.DropDownList("ProvinciaID", null, "---Seleccione Provincia ---", htmlAttributes: new { @class = "form-control" })<br />
                    @Html.ValidationMessageFor(model => model.ProvinciaID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Brigada Responsable</label><label class="bg-label">*</label>
                <div class="col-md-10">
                    @Html.DropDownList("BrigadaID", null, "---Seleccione Brigada ---", htmlAttributes: new { @class = "form-control" })<br />
                    @Html.ValidationMessageFor(model => model.BrigadaID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <label>Causa o Razón</label><label class="bg-label">*</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="Causa" rows="3" name="Causa" style="resize: none;" placeholder="Razón o Causa Incautación"></textarea><br />
                    @Html.ValidationMessageFor(model => model.Causa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div style="float:unset">
                @Html.Partial("OptionsBox/Save")
            </div>
            <br />
            <br />
            <br />

        </div>
        }

    </div>
</div>


@*<script>
        function fillProducts(inpt) {
            myFunction();
            useAjax('@Url.Action("NovedadIncautacion","Productos")', '{idTipoIncautacion:"' + inpt.value + '"}', function (data) {
                fillDropDown('#ProductoID', data, 'ProductoID', 'Nombre');
            }, 'POST');
        }
    </script>*@


@Scripts.Render("~/bundles/jqueryval")
@section Scripts {
<script type="text/javascript">
        $(document).ready(function () {
            $("#ddlIncautaciones").change(function () {
                $.get("/NovedadIncautacion/GetProducts", { TipoProductoID: $("#ddlIncautaciones").val() }, function (data) {
                    // VACIAMOS EL DropDownList
                  
                    $("#ProductoID").empty();
                    // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                    $("#ProductoID").append("<option value> -- Seleccionar Tipo " + $("#ddlIncautaciones option:selected").text() + " --</option>")
                    // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                    $.each(data, function (index, row) {
                        $("#ProductoID").append("<option value='" + row.TipoProductoID + "'>" + row.Nombre + "</option>")
                        $("#TipoMedidaID").empty();
                    });
                });
            });

            $("#ProductoID").change(function () {
              
                $.get("/NovedadIncautacion/GetTipoMedidas", { ProductoID: $("#ProductoID").val() }, function (data) {
                    // VACIAMOS EL DropDownList
                    $("#TipoMedidaID").empty();
                    // AÑADIMOS UN NUEVO label CON EL NOMBRE DEL ELEMENTO SELECCIONADO
                    $("#TipoMedidaID").append("<option value> -- Seleccionar Tipo Medida " + $("#ProductoID option:selected").text() + " --</option>")
                    // CONSTRUIMOS EL DropDownList A PARTIR DEL RESULTADO Json (data)
                    $.each(data, function (index, row) {
                        $("#TipoMedidaID").append("<option value='" + row.ID + "'>" + row.Nombre + "</option>")
                    
                    });
                });
            });
            
        });

        @* Llama Show Modal *@
    function myFunction1() {

        $("#ModalTitle").html("Tipo Producto ");
        $("#TipoProducto").modal();
    
    };

    //$('#TipoMedidaID').change(function (e) {
    //    alert($(this).val());
    //});

    //function Alertando() {
    //    var slt = document.getElementById('DdlLista');
    //    var valor = slt.options[slt.selectedIndex].value;
    //    alert(valor);
    //};

</script>
  
 
}