@model BeEntity.BeUser

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";


}



<div class="panel panel-body" id="container" style="width:unset">
    <div class="panel-heading" style="text-align:center">
        <br />
        <h4 class="fa fa-check"><strong> Mantenimiento de Usuarios </strong></h4>
    </div>
    <hr />
    <div class="container body-content">

        @using (Html.BeginForm())
        {
            <div>
                @Html.Partial("OptionsBox/Save_Back")
            </div>
            <br />
            <br />

            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                <div class="form-group">
                    @Html.LabelFor(model => model.NumCarnet, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.NumCarnet, htmlAttributes: new {  @class = "form-control",  @style = "background-position: center center",
                            placeholder = "Digite el no. de Carnet Militar sin guiones", required = "required", maxlength = "8" , onblur = "consultaMiembro(this)"})
                        @Html.ValidationMessageFor(model => model.NumCarnet)
                    </div>
                </div>
                @Html.HiddenFor(model => model.RangoID)
                @Html.HiddenFor(model => model.Apellidos)
                @Html.HiddenFor(model => model.Nombres)
                @Html.HiddenFor(model => model.CompaniaID)
                @Html.HiddenFor(model => model.BrigadaID)
                @Html.HiddenFor(model => model.InstitucionID)
                @Html.HiddenFor(model => model.UserName)

                <div class="form-group">
                    @Html.LabelFor(model => model.NombreCompleto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.NombreCompleto, htmlAttributes: new { @readonly = true, @class = "form-control", @style = "background-position: center center", placeholder = "Nombre Completo" })
                        @Html.ValidationMessageFor(model => model.NombreCompleto)

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Rango, htmlAttributes: new { @readonly = true, @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Rango, htmlAttributes: new { @readonly = true, @class = "form-control", @style = "background-position: center center", placeholder = "Rango" })
                        @Html.ValidationMessageFor(model => model.Rango)

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Compania, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-6">
                        @Html.TextBoxFor(model => model.Compania, htmlAttributes: new { @readonly = true, @class = "form-control", @style = "background-position: center center", placeholder = "Compañía a la cual pertenece" })
                        @Html.ValidationMessageFor(model => model.Compania)

                    </div>
                </div>

                <div class="form-group">

                    <label>Perfil Usuario</label><label class="bg-label">*</label>
                    <div class="col-md-10">
                        @Html.DropDownList("PerfilID", null, "---Seleccione Perfil---", htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.PerfilID, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.EstatusID, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.DropDownList("EstatusID", null, htmlAttributes: new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.EstatusID, "", new { @class = "text-danger" })
                    </div>
                </div>
                                          


                <div class="form-check">

                    <input class="form-check-input" type="checkbox" value="CambioClave" id="CambioClave" name="CambioClave" checked>
                    <label class="form-check-label" for="flexCheckChecked">
                        <strong>Cambio Clave</strong>
                    </label>
                </div>


            </div>
        }


    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}


<script>


        function consultaMiembro(inpt) {
            useAjax('@Url.Action("ValidaCarnet", "Users")', '{carnet:"' + inpt.value + '"}', function (data) {
                $("#NombreCompleto").val(data.Miembro);
                $("#Rango").val(data.Rango);
                $("#RangoID").val(data.RangoID);
                $("#Compania").val(data.Compania);
                $("#Institucion").val(data.Institucion);
                $("#InstitucionID").val(data.InstitucionID);
                $("#Apellidos").val(data.Apellidos);
                $("#Nombres").val(data.Nombres);
                $("#BrigadaID").val(data.BrigadaID);

            });
    }


</script>
