@model BeEntity.BeUser

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
   

}



<div class="panel panel-body" id="container" style="width:unset">
    <div class="panel-heading" style="text-align:center">
        <br />
        <h4 class="fa fa-check"><strong> Mantenimiento de Usuarios </strong></h4>
    </div>
    <hr />
    <div class="container body-content">

        @using (Html.BeginForm())
        {
            <div>
                @Html.Partial("OptionsBox/Save_Back")
            </div>
            <br />
            <br />

            @Html.AntiForgeryToken()

            <div class="form-horizontal">

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                @*<div class="form-group">
            @Html.LabelFor(model => model.TipoNovedadID, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10" style="visibility:hidden">
                @Html.DropDownList("TipoNovedadID", null, null, new { @class = "form-control", name = "TipoNovedadID", id = "TipoNovedadID" })
                @Html.ValidationMessageFor(model => model.TipoNovedadID, "", new { @class = "text-danger" })
            </div>
        </div>*@

                <div class="form-group">
                    @Html.LabelFor(model => model.NumCarnet, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.NumCarnet, htmlAttributes: new {  @class = "form-control", @style = "background-position: center center",
                            placeholder = "Digite el no. de documento sin guiones", required = "required", maxlength = "8" , onblur = "consultaMiembro(this)"})
                        @Html.ValidationMessageFor(model => model.NumCarnet)
                    </div>
                </div>
                <h3> @ViewBag.Rango </h3>

                <div class="form-group">
                    @Html.LabelFor(model => model.NombreCompleto, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.NombreCompleto, htmlAttributes: new { @readonly = true, @class = "form-control", @style = "background-position: center center", placeholder = "Nombre Completo" })
                        @Html.ValidationMessageFor(model => model.NombreCompleto)

                    </div>
                </div>

                <div class="form-group">
                    @Html.LabelFor(model => model.Rango, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.Rango, htmlAttributes: new { @readonly = true, @class = "form-control", @style = "background-position: center center", placeholder = "Nombre Completo" })
                        @Html.ValidationMessageFor(model => model.Rango)

                    </div>
                </div>

            </div>
        }


    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")

}

<script>
    function consultaMiembro(inpt) {
            useAjax('@Url.Action("ValidaCarnet", "Users")', '{carnet:"' + inpt.value + '"}', function (data) {
                $("#NombreCompleto").val(data.Miembro);
                $("#Rango").val(data.Rango);
                $("#Institucion").val(data.Institucion);
            });
    }


</script>