@model BeEntity.BeNovedadRepatriacion

@{
    ViewBag.Title = "Novedad Repatriaciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="panel panel-body" id="container" style="width:unset">
    <div class="panel-heading" style="text-align:center">
        <br />
        <h4 class="fa fa-pen-alt"><strong> Registro de Repatriaciones </strong></h4>
    </div>
    <hr />
    <div class="container body-content">
        <div style="float:right">
            <span><strong>Nota:</strong> Todos los campos son (<label class="bg-label">*</label>)  son obligatorios</span>
        </div>
        <br />


        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

        <div class="form-horizontal">

            @Html.ValidationSummary(true, "", new { @class = "text-danger" })

            <div class="col-md-10" style="visibility:hidden">
                @Html.DropDownList("TipoNovedadID", null, null, new { @class = "form-control", name = "TipoNovedadID", id = "TipoNovedadID" })
                @Html.ValidationMessageFor(model => model.TipoNovedadID, "", new { @class = "text-danger" })
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.PaisID, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>País a Repatriar </label><label class="bg-label">*</label>
                <div class="col-md-10">
                    @Html.DropDownList("PaisID", null, "---Seleccione País ---", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PaisID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.PaisID, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>Causa de la Repatriación </label><label class="bg-label">*</label>
                <div class="col-md-10">
                    @Html.DropDownList("CausaID", null, "---Seleccione Causa ---", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.CausaID, "", new { @class = "text-danger" })
                </div>
            </div>



            <div class="form-group">
                @*@Html.LabelFor(model => model.SexoID, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>Sexo</label><label class="bg-label">*</label>
                <div class="col-md-10">
                    @Html.DropDownList("SexoID", null, "---Seleccione Sexo ---", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.SexoID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Cantidad, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>Cantidad a Repatriar</label><label class="bg-label">*</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Cantidad, new { htmlAttributes = new { @class = " " }, placeholder = "Ingresar Cantidad" })
                    @Html.ValidationMessageFor(model => model.Cantidad, "*", new { @class = "text-danger" })
                </div>
            </div>


            <div class="form-group">
                @*@Html.LabelFor(model => model.FechaNovedad, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>Fecha Novedad</label><label class="bg-label">*</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.FechaNovedad, new { htmlAttributes = new { @class = " ", @type = "date" } })
                    @Html.ValidationMessageFor(model => model.FechaNovedad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.HoraNovedad, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>Hora Novedad</label><label class="bg-label">*</label>
                <div class="col-md-10">
                    @Html.EditorFor(model => model.HoraNovedad, new { htmlAttributes = new { @class = " ", @type = "time" } })
                    @Html.ValidationMessageFor(model => model.HoraNovedad, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.BrigadaID, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>Lugar de la Repatriación</label><label class="bg-label">*</label>
                <div class="col-md-10">
                    @Html.DropDownList("ProvinciaID", null, "---Seleccione Provincia ---", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.ProvinciaID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.BrigadaID, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>Brigada Responsable</label><label class="bg-label">*</label>
                <div class="col-md-10">
                    @Html.DropDownList("BrigadaID", null, "---Seleccione Brigada ---", htmlAttributes: new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.BrigadaID, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @*@Html.LabelFor(model => model.Causa, htmlAttributes: new { @class = "control-label col-md-2" })*@
                <label>Comentario</label><label class="bg-label">*</label>
                <div class="col-md-10">
                    <textarea class="form-control" id="Causa" rows="3" name="Causa" style="resize: none;" placeholder="Comentario u observación"></textarea>
                    @Html.ValidationMessageFor(model => model.Causa, "", new { @class = "text-danger" })
                </div>
            </div>

            <div style="float:unset">
                @Html.Partial("OptionsBox/Save")
            </div>
            <br />
            <br />
            <br />

        </div>
        }

    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script>

        $(function () {
            $(".datepicker").datepicker();


        });

    </script>

}